<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="detailSpinner" spinner-start-active="true"></span>

<div class="container" ng-hide="hideContainer">

    <!-- Top Section -->
    <div class="section group">

        <!-- Item Image -->
        <div class="col span_1_of_5">
            <img class="item-tn" ng-src="{{item.img}}" />
        </div>

        <!-- Item Name / Price / Rating -->
        <div class="col span_3_of_5">

            <div class="detail-section-title">
                {{item.Description}}
            </div>

            <div class="detail-section-other">
                ${{item.Price}}
            </div>

        </div>

    </div>

    <div>
        <hr>
    </div>

    <!-- Orders Section -->
    <div class="section group">

        <p class="detail-section-title">
            Product Availability
        </p>

        <div class="section group">
            <div class="col span_1_of_3">Store Location</div>
            <div class="col span_1_of_3">In-Stock Quantity</div>
            <div class="col span_1_of_3">Place Order</div>
        </div>

        <div ng-repeat="target in itemStock">
            <div class="col span_1_of_3">{{target.StoreLocation}}</div>
            <div class="col span_1_of_3">{{target.SOH}}</div>
            <div class="col span_1_of_3">
                <select ng-model="newOrder.quantity">
                    <option ng-selected="selected">1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
                <button type="submit" ng-click="placeOrder(newOrder, item.StockID, target.StoreLocation);">Order</button>
            </div>
        </div>
    </div>

    <!-- Order Confirmation Popup -->
    <div class="section group">

        <div class="detail-section-other" ng-switch on="orderConfirmation">
            <div ng-switch-when="undefined"></div>

            <div class="order-confirmation-modal" ng-switch-default>

                <p class="detail-section-title">
                    Order Confirmation
                </p>

                <p>Order of {{orderConfirmation.SOH}} received at the {{orderConfirmation.StoreLocation}} location.</p>

                <br/><br/>

                <p>Your confirmation number is: {{orderConfirmation.OrderNumber}}</p>

                <br/><br/>
                <button type="submit" ng-click="closeOrderConfirmation();">Close</button>

            </div>

        </div>

    </div>

</div>